<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hotel Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>


    <script src="../../static/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="../../static/css/hms.css" th:href="@{/css/hms.css}"/>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css"/>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

    <style type="text/css">
        #dateRangeForm .form-control-feedback {
            top: 0;
            right: -15px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('#dateRangePicker')
                .datepicker({
                    format: 'mm/dd/yyyy',
                    startDate: '01/01/1910',
                    endDate: '01/31/2010'
                })
        });
    </script>
</head>

<body>
<div th:include="fragments/header :: header"></div>
<div class="container">
    <h3 class="text-center">Client Registration</h3>

    <div class="row">
        <form action="#" th:action="@{/register}" th:object="${userData}" method="post" class="form-horizontal">
            <div th:include="fragments/userForm :: userForm"></div>
            <div th:text="${errorMessage}"></div>
            <button type="submit" class="btn btn-primary btn-lg btn-success">Register
            </button>
            <button class="btn btn-primary btn-lg btn-success pull-right" onclick="location.href='/'">Back</button>
        </form>

    </div>
</div>
</body>
</html>