<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hotel Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>


    <script src="../../static/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="../../static/css/hms.css" th:href="@{/css/hms.css}"/>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css"/>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

    <style type="text/css">
        #dateRangeForm .form-control-feedback {
            top: 0;
            right: -15px;
        }
    </style>
</head>

<body>
<div th:include="fragments/header :: header"></div>
<div class="container">
    <h3 class="text-center">Add New Room</h3>

    <div class="row">
        <form action="#" th:action="@{/hotelManagement/addRoom}" th:object="${roomData}" method="post"
              class="form-horizontal"
              id="roomFormContainer">


            <div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="hotelId">Hotel:</label>
                    <div class="col-md-4" th:object="${hotelId}" >
                        <select class="form-control col-sm-10" data-style="btn-primary" style="margin-right:
                15px;display: inline-block;" name="hotelId" id="hotelId" th:required="required">
                            <option th:each="hotel : ${hotels}"
                                    th:value="${hotel.id}"
                                    th:text="${hotel.name}+' : '+${hotel.location}">
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="price">Room Number:</label>
                    <div class="col-sm-10">
                        <input type="number" id="roomNumber" th:value="${roomNumber}" th:field="*{roomNumber}" name="roomNumber"
                               placeholder="room number"
                               th:required="required" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="size">Size:</label>
                    <div class="col-md-4" th:object="${size}" >
                        <select class="form-control col-sm-10" data-style="btn-primary" style="margin-right:
                15px;display: inline-block;" name="size" id="size" th:required="required">
                            <option th:value="1">1</option>
                            <option th:value="1">2</option>
                            <option th:value="1">3</option>
                            <option th:value="1">4</option>
                            <option th:value="1">5</option>
                            <option th:value="1">6</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="price">Price:</label>
                    <div class="col-sm-10">
                        <input type="number" id="price" th:value="${price}" th:field="*{price}" name="price"
                               placeholder="price"
                               th:required="required" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="price">Smoking:</label>
                    <div class="col-sm-10">
                        <input type="checkbox" th:field="*{smoking}" th:value="${smoking}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="price">Pet
                        friendly:</label>
                    <div class="col-sm-10">
                        <input type="checkbox" th:field="*{petFriendly}" th:value="${petFriendly}"/>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-center">
                <button type="submit" class="btn btn-primary btn-lg btn-success" id="saveButton">Save
                </button>
            </div>

        </form>
        <div class="col-md-6 text-center">
            <button class="btn btn-primary btn-lg btn-success pull-right"
                    onclick="location.href='/hotelManagement/roomManagement'">Back
            </button>
        </div>
    </div>
</div>
</body>
</html>