<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hotel Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>


    <script src="../../static/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="../../static/css/hms.css" th:href="@{/css/hms.css}"/>
</head>

<body>
<div th:include="fragments/header :: header"></div>
<div class="container table-responsive">
    <h2 class="text-center">Reservations Management</h2>
    <br/>
    <br/>

    <form action="#" method="POST" th:action="@{/hotelManagement/bookingsManagement}" th:object="${hotelSearch}">
        <div class="form-group">
            <label class="control-label col-sm-8" for="hotel">Search by Hotel all users:</label>
            <div class="col-md-4">
                <select class="form-control col-sm-8" data-style="btn-primary" style="margin-left: 15px;margin-right:
                15px;display: inline-block;min-width: 200px;"
                        id="hotel" name="hotel" th:field="*{id}" onchange="this.form.submit()">
                    <option value=""> All hotels</option>
                    <option th:each="hotel : ${hotels}"
                            th:value="${hotel.id}"
                            th:text="${hotel.name}+' : '+${hotel.location}">
                    </option>
                </select>
            </div>
        </div>
    </form>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Hotel name</th>
                <th>Room number</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody th:each="booking:${bookings}">
            <tr>
                <td th:text="${booking.roomInformationDto.hotelInformationDto.hotelName}"></td>
                <td th:text="${booking.roomInformationDto.roomNumber}"></td>
                <td th:text="${booking.startDate}"></td>
                <td th:text="${booking.endDate}"></td>
                <td>
                    <form class="col-md-4" method="POST"
                          th:action="@{/hotelManagement/bookingsManagement/delete/{id}(id=${booking.id})}"
                          style="height: 50%;width: 50%;">
                        <button type="submit" name="submit" value="value" class="delete-button"><img
                                src="../../static/images/action/delete.png" width="50px" height="50px"
                                class="img-rounded img-responsive"
                                th:src="@{../images/action/delete.png}"/></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="${bookings.totalPages - 1 > 0}" class="pagination"
             th:each="pageNumber : ${pageNumbers}">
            <a
                    th:href="@{/bookingsManagement(page=${pageNumber}, size=${5})}"

                    th:text="${pageNumber}"

                    th:class="${pageNumber==bookings.number} ? active">

            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <button class="btn btn-primary btn-lg btn-success pull-right" onclick="location.href='/'">
                Back
            </button>
        </div>
    </div>

</div>

</body>
</html>