<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hotel Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>

    <script src="../static/css/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" type="text/css" media="screen"
          href="../static/css/hms.css" th:href="@{/css/hms.css}"/>
</head>
<body>
<div th:fragment="accountForm">
    <div class="form-group" id="usernameContainer">
        <label class="control-label col-sm-2" for="username">Username:</label>
        <div class="col-sm-10">
            <input type="text" id="username" th:value="${username}" th:field="*{username}" name="username"
                   autofocus="autofocus"
                   placeholder="username"
                   th:required="required" class="form-control"/>
        </div>
    </div>
    <div class="form-group" id="passwordContainer">
        <label class="control-label col-sm-2" for="password">Password:</label>
        <div class="col-sm-10">
            <input type="password" th:value="${password}" id="password" name="password"
                   placeholder="password" th:required="required"
                   class="form-control"/>
        </div>
    </div>
    <div class="form-group" id="confirmPasswordContainer">
        <label class="control-label col-sm-2" for="confirmPassword">Confirm Password:</label>
        <div class="col-sm-10">
            <input type="password" th:value="${confirmPassword}" id="confirmPassword" name="confirmPassword"
                   placeholder="password" th:required="required"
                   class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="firstName">First name:</label>
        <div class="col-sm-10">
            <input type="text" id="firstName" th:value="${firstName}" th:field="*{firstName}" name="firstName"
                   placeholder="first name"
                   th:required="required" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="lastName">Last name:</label>
        <div class="col-sm-10">
            <input type="text" id="lastName" th:value="${lastName}" th:field="*{lastName}" name="lastName"
                   placeholder="last name"
                   th:required="required" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-10">
            <input type="email" th:value="${email}" id="email" name="email" th:field="*{email}" th:required="required"
                   placeholder="email"
                   class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="role">Role:</label>
        <div class="col-md-4" th:object="${role}">
            <select class="form-control col-sm-10" data-style="btn-primary" style="margin-right:
                15px;display: inline-block;" name="role" id="role">
                <option th:each="role : ${T(com.hele.model.enums.RoleEnum).values()}"
                        th:value="${role}"
                        th:text="${role}"></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="hotel">Hotel:</label>
        <div class="col-md-4" th:object="${hotel}">
            <select class="form-control col-sm-10" data-style="btn-primary" style="margin-right:
                15px;display: inline-block;" name="hotel" id="hotel">
                <option th:each="hotel : ${hotels}"
                        th:value="${hotel.id}"
                        th:text="${hotel.name}+' : '+${hotel.location}"></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="address">Address (optional):</label>
        <div class="col-sm-10">
            <input type="text" id="address" th:value="${address}" th:field="*{address}" name="address"
                   placeholder="address" class="form-control"/> <br/>
        </div>
    </div>
    <div class="form-group" id="birthDateContainer">
        <label class="control-label col-sm-2" for="birthDate">Birth Date:</label>
        <div class="input-group input-append date col-sm-10" id="dateRangePicker"
             style="padding-right: 15px;padding-left: 15px">
            <input type="text" class="form-control" name="birthDate" id="birthDate" th:value="${birthDate}"
                   th:field="*{birthDate}"
                   th:required="required"/>
            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="gender">Gender:</label>
        <select class="form-control col-sm-10" data-style="btn-primary" style="margin-left: 15px;margin-right:
                15px;display: inline-block;width: inherit;" name="gender" id="gender">
            <option th:each="gender : ${T(com.hele.model.enums.GenderEnum).values()}"
                    th:value="${gender}"
                    th:text="${gender}" th:field="*{gender}">
            </option>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="bio">Bio (optional):</label>
        <div class="col-sm-10">
                    <textarea class="form-control" id="bio" name="bio"
                              th:inline="text" rows="5" placeholder="Bio"
                              th:value="${bio}" th:field="*{bio}"></textarea>
        </div>
    </div>
</div>
</body>
</html>