<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hotel Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>

    <script src="../static/css/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" type="text/css" media="screen"
          href="../static/css/hms.css" th:href="@{/css/hms.css}"/>
</head>
<body>
<div th:fragment="editAccountForm">
    <div class="form-group" id="usernameContainer">
        <label class="control-label col-sm-2" for="username">Username:</label>
        <div class="col-sm-10">
            <input type="text" id="username" th:value="${userData.username}" th:field="*{username}" name="username"
                   autofocus="autofocus"
                   placeholder="username"
                   th:required="required" class="form-control"/>
        </div>
    </div>

    <div class="form-group" id="idContainer" style="display: none;">
        <label class="control-label col-sm-2" for="id">Id:</label>
        <div class="col-sm-10">
            <input type="text" id="id" th:value="${userData.id}" th:field="*{id}" name="id"
                   autofocus="autofocus"
                   placeholder="id"
                   th:required="required" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="role">Role:</label>
        <div class="col-md-4" th:object="${role}">
            <select class="form-control col-sm-10" data-style="btn-primary" style="margin-right:
                15px;display: inline-block;" name="role" id="role" th:required="required">
                <option th:each="role : ${T(com.hele.utils.Role).values()}"
                        th:value="${role}"
                        th:text="${role}"
                        th:selected="${role == userData.role}"></option>
            </select>
        </div>
    </div>
</div>
</body>
</html>