<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hotel Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>

    <script src="../static/css/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" type="text/css" media="screen"
          href="../static/css/hms.css" th:href="@{/css/hms.css}"/>
</head>
<body>
<div th:fragment="header">
    <!-- Application NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#myNavbar">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Hotel Management System</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li th:if="${loggedIn}"><a href="/myAccount">My Account</a></li>
                    <li th:if="${loggedIn and !manager}"><a class="dropdown-toggle" data-toggle="dropdown"
                                               href="#">Bookings<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/bookings/newBooking">New Booking</a></li>
                            <li><a href="/bookings/myBookings">My Bookings</a></li>
                        </ul>
                    </li>

                    <li th:if="${loggedIn and manager}"><a href="/userManagement">User Management</a></li>

                    <li th:if="${loggedIn and manager}"><a class="dropdown-toggle" data-toggle="dropdown"
                                               href="#">Hotel Management<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/hotelManagement">Hotel Info</a></li>
                            <li><a href="/hotelManagement/roomManagement">Rooms</a></li>
                            <li><a href="/hotelManagement/bookingsManagement">Reservations</a></li>
                        </ul>
                    </li>
                    <li th:if="${loggedIn}">
                        <form id="logoutForm" name="logoutForm"
                              action="/logout" method="post">
                            <button type="submit" class="btn btn-primary btn-lg">
                                <i class="glyphicon glyphicon-log-out"></i> LogOut
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 	End of Application NAVBAR -->

</div>
</body>
</html>