<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hotel Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>


    <script src="../../static/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="../../static/css/hms.css" th:href="@{/css/hms.css}"/>
</head>

<body style="height: 100%;" class="bg-1">
<div id="tour" class="bg-1" style="height: 100%">
    <div id="band" class="container text-center">
        <h3>Something went wrong</h3>
        <div class="row">
            <div class="col-sm-12">
                <br></br>
                <div class="text-center">
                    <span class="label label-danger"><strong>Code 404.</strong></span>
                    <div th:text="${errorMessage}">[[${errorMessage}]]</div>
                </div>
                <br></br> <a href="#demo" data-toggle="collapse"> <img
                    src="../../static/images/error/errorLegend.png"
                    th:src="@{~/images/error/errorLegend.png}" class="img-circle person"
                    alt="Error" width="255" height="255"/>
            </a>
                <div id="demo" class="collapse">
                    <p>HTTP return codes cheat sheet</p>
                    <div class="text-left"><span class="label label-danger "> 1** </span> &nbsp;&nbsp;&nbsp; Hold on
                    </div>
                    <div class="text-left"><span class="label label-danger "> 2** </span> &nbsp;&nbsp;&nbsp; Here you go
                    </div>
                    <div class="text-left"><span class="label label-danger "> 3** </span> &nbsp;&nbsp;&nbsp; Go away
                    </div>
                    <div class="text-left"><span class="label label-danger "> 4** </span> &nbsp;&nbsp;&nbsp; You fucked
                        up
                    </div>
                    <div class="text-left"><span class="label label-danger "> 5** </span> &nbsp;&nbsp;&nbsp; I fucked up
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<footer class="text-center">
    <h3>
        <a class="up-arrow" href="/" data-toggle="tooltip"
           title="Home"> <span class="glyphicon glyphicon-home"> </span> Go back home
        </a>
    </h3>
</footer>
</body>
</html>