<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hotel Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>


    <script src="../../static/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="../../static/css/hms.css" th:href="@{/css/hms.css}"/>

</head>

<body>
<div th:include="fragments/header :: header"></div>
<div class="container table-responsive">
    <h2 class="text-center">User Management</h2>

    <div class="form-group">
        <label class="control-label col-sm-8" for="hotelSearch">Search by Hotel all users:</label>
        <div class="col-md-4" th:object="${hotel}">
            <select class="form-control col-sm-8" data-style="btn-primary" style="margin-left: 15px;margin-right:
                15px;display: inline-block;min-width: 200px;" id="hotelSearch" name="hotelSearch">
                <option th:each="hotel : ${hotels}"
                        th:value="${hotel.id}"
                        th:text="${hotel.name}+' : '+${hotel.location}"></option>
            </select>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Email</th>
            <th>Birth Date</th>
            <th>Registration Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody th:each="user:${users}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.birthDate}"></td>
            <td th:text="${user.registrationDate}"></td>
            <td>
                <form class="col-md-4" method="POST" th:action="@{/userManagement/delete/{id}(id=${user.id})}"
                      style="height: 100%;width: 50%;">
                    <button type="submit" name="submit" value="value" class="delete-button"><img
                            src="../../static/images/action/delete.png" width="100px" height="100px"
                            class="img-rounded img-responsive"
                            th:src="@{images/action/delete.png}"/></button>
                </form>

                <a th:href="@{/userManagement/edit/{id}(id=${user.id})}" class="col-md-4 link-button" style="height: 65px;width: 65px;"><img
                        src="../../static/images/action/edit.png" width="100px" height="80px" style="padding:1px"
                        class="img-rounded img-responsive"
                        th:src="@{images/action/edit.png}"/></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${users.totalPages - 1 > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a
                th:href="@{/userManagement(page=${pageNumber})}"

                th:text="${pageNumber}"

                th:class="${pageNumber==users.number} ? active">

        </a>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <button class="btn btn-primary btn-lg btn-success pull-right" id="addUserButton"
                    onclick="location.href='/userManagement/addAccount'">Add Account
            </button>
        </div>
        <div class="col-md-4 text-center"></div>
        <div class="col-md-4 text-center">
            <button class="btn btn-primary btn-lg btn-success pull-right" onclick="location.href='/'">Back</button>
        </div>
    </div>
</div>

</body>
</html>