<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hotel Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link
            href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Montserrat"
          rel="stylesheet" type="text/css"/>
    <script src="../static/css/js/bootstrap.min.js"
            th:src="@{~/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" type="text/css" media="screen"
          href="../../static/css/hms.css" th:href="@{/css/hms.css}"/>
</head>

<body style="height: 100vh">
<div th:include="fragments/header :: header">&nbsp;</div>

<div id="band" class="container text-center" style="height:90%">
    <h2>SUCCESS!</h2>

    <div>
        <h3>Your reservation was created!</h3>
    </div>
    <div class="text-center">
        Congratulations, the reservation has been successful!
        <br/>
        We will be waiting for your arrival on the <span style="font-weight: bold;" th:text="${booking.startDate}"/> at
        <span style="font-weight: bold;" th:text="${booking.hotelName}"/> in <span style="font-weight: bold;"
                                                                                   th:text="${booking.hotelLocation}"/>.
        <br/>
        You will be staying in room <span style="font-weight: bold;" th:text="${booking.roomNumber}"/>!
        <br/>
        Have a great Day!
    </div>

    <div class="col-sm-12">
        <br></br>
        <a href="/"> <img
                src="../../static/images/success.jpg"
                th:src="@{~/images/success.jpg}" class="person" style="width: 100%"/>
        </a>
    </div>
</div>

<footer class="text-center">
    <h3>
        <a class="up-arrow" href="/" data-toggle="tooltip"
           title="Home"> <span class="glyphicon glyphicon-home"> </span> Go back home
        </a>
    </h3>
</footer>

</body>

</html>